.map {
  width: 100%;
  height: auto;
}

.mapWrapper {
  width: 100%;
  position: relative;
  display: flex;
  max-width: 1440px;
  margin: auto;
}

.charWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.character {
  position: absolute;
  opacity: 0;
  transform: translateY(-300%);
  transition: opacity 0.5s ease, transform 0.5s ease; /* Плавная анимация */
}

.visible {
  opacity: 1;
  transform: translateY(0);
}


.char1,
.char2,
.char3,
.char4,
.char5,
.char6,
.char7,
.char8 {
  position: absolute;
  opacity: 0;
  transform: translateY(-300%);
  transition: opacity 0.5s ease, transform 0.5s ease; /* Плавная анимация */
}

.char1 {
  top: 27%;
  left: 17%;
}

.char2 {
  top: 19%;
  left: 28%;
}

.char3 {
  top: 34%;
  left: 38%;
}

.char4 {
  top: 23%;
  left: 59%;
}

.char5 {
  top: 20%;
  left: 81%;
}

.char6 {
  top: 28%;
  left: 69%;
}

.char7 {
  top: 17%;
  left: 49%;
}

.char8 {
  top: 43%;
  left: 54%;
}


.mapWrapper div {
  position: absolute;
}

.char1.visible {
  transition-delay: 0.2s;
}

.char4.visible {
  transition-delay: 0.4s;
}

.char3.visible {
  transition-delay: 0.6s;
}

.char5.visible {
  transition-delay: 0.8s;
}

.char2.visible {
  transition-delay: 1s;
}
.char6.visible {
  transition-delay: 1.2s;
}
.char7.visible {
  transition-delay: 1.4s;
}
.char8.visible {
  transition-delay: 1.6s;
}


.char1, .char2,.char3,.char4,.char5, .char6, .char7, .char8 {
  img {
    width: 100%;
    height: 100%;
  }
}

.char1 {
  position: absolute;
  width: 2.6%;
  height: 25.41%;
}
.char2 {
  position: absolute;
  width: 2.08%;
  height: 20.27%;
}
.char3 {
  position: absolute;
  width: 3.4%;
  height: 23.75%;
}
.char4 {
  position: absolute;
  width: 2.7%;
  height: 28.59%;
}
.char5 {
  position: absolute;
  width: 2.3%;
  height: 31.16%;
}
.char6 {
  position: absolute;
  width: 3.4%;
  height: 23.75%;
}
.char7 {
  position: absolute;
  width: 2.7%;
  height: 28.59%;
}
.char8 {
  position: absolute;
  width: 2.3%;
  height: 31.16%;
}


.char1, .char2,.char3,.char4,.char5, .char6, .char7, .char8 {
  img {
    width: 100%;
    height: 100%;
  }
}

.mapWrapper {
  width: 100%;
  position: relative;
  display: flex;
  max-width: 1440px;
  margin: auto;
}

.charWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.character {
  position: absolute;
  opacity: 0;
  transform: translateY(-500%);
  transition: opacity 0.5s ease, transform 0.5s ease; /* Плавная анимация */
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
