@import "../../public/fonts/stylesheet.css";

:root {
  --black: #000;
  --white: #fff;
  --gray: #afd0c5;
  --baseFont: "Mona Sans", sans-serif;
  --green: #00EB9A;
  --green-text: linear-gradient(to right, 
    #00EB9A 0%, 
    #50FFD6 9%, 
    #78D095 23%, 
    #60C1BC 33%, 
    #2FD6AB 48%, 
    #00EB9A 62%, 
    #39DCEE 83%, 
    #53FF87 100%);
}

html {
  /* font-size: 1.1104vw; */
  font-size: 16px;
}

// html,
// body {
//   max-width: 100vw;
//   // overflow-x: hidden;
// }

body {
  color: var(--white);
  background: var(--black);
  font-family: var(--baseFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.body {
  position: relative;
}

.wrapper {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.text-big {
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0.5px;
  color: var(--white);
}



.animated_text {
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.5px;
  &.big {
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    justify-content: center;
    letter-spacing: 0px;
  }
}

.word_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin-right: 12px;
    width: 50px;
    border-radius: 50%;
  }
}

.text-container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.text-gradient {
  background: var(
    --Green-gradient,
    linear-gradient(90deg, #00eb9a 0%, #50ffd6 8.5%, #78d095 23.5%, #60c1bc 33.07%, #2fd6ab 48%, #00eb9a 61.5%, #39dcee 83%, #53ff87 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-lottie {
  margin-right: 5px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin-right: 0;
  }
}

.lottie-code {
  width: 65px;
  height: 45px;
  position: relative;
  top: 7px;
  svg {
    height: auto !important;
  }
}

.default-button {
  padding: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  box-shadow: 0px 0px 50px rgba(0, 235, 154, 0.5);
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  &__main {
    border-radius: 50px;
    background: var(--white);
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.44px;
    color: var(--black);
    padding: 15px 21px;
    position: relative;
    z-index: 2;
    transition: all 0.2s ease-in-out;
    p {
      background-image: linear-gradient(to right, #2ab77f, #2ab77f 50%, #000 50%);
      background-size: 200% 100%;
      background-position: 100%;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
  &__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 1px solid #53ff87b2;
    mask-image: linear-gradient(320deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    -webkit-mask-image: linear-gradient(320deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    z-index: 2;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: rgba(0, 0, 0, 0.6);
    }
  }
  &:hover {
    box-shadow: 0px 0px 70px rgba(0, 235, 154, 0.7);
    .default-button__main p {
      // color: #2ab77f;
      background-position: 0%;
    }
  }
}

.lf-player-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 998px) {
  .animated_text {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.5px;
    &.big {
      font-size: 80px;
      line-height: 80px;
    }
  }

    .word {
      opacity: 1!important;
    }

  .wrapper {
    padding: 0 20px;
  }

  .word_icon svg {
    width: 60px;
    margin-right: 5px;
  }
  .lottie-code {
    top: 0;
  }
}

@media (max-width: 768px) {
  .animated_text {
    font-size: 20px;
    line-height: 30px;
    &.big {
      font-size: 40px;
      line-height: 40px;
    }
  
  }
  .word_icon svg {
    width: 60px;
  }

  .lottie-code {
    width: 40px;
    height: 30px;
  }
}
