.footer {
  padding: 0px 0 140px;
  position: relative;
  z-index: 3;
}

.button {
  padding: 90px 0 100px;
  display: flex;
  justify-content: center;
}

.link {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.44px;
  transition: color 0.2s ease-in-out;
  background-image: linear-gradient(to right, #fff, #fff 50%, var(--gray) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  .green {
    color: #00eb9a;
    background-image: linear-gradient(to right, var(--gray), var(--gray) 50%, #00eb9a 50%);
    background-size: 200% 100%;
    background-position: 100%;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  path {
    transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover {
    background-position: 0%;
    .icon path {
      stroke: #fff;
      transition-delay: 0.2s;
    }
    .green {
      background-position: 0%;
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .footer {
    padding: 0 0 60px;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
}
